// Keyframes for animations
@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Modal Styles Wrapper */

.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  width: 100%;
  z-index: 1000;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
