.rootDropDownTable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & > * {
    display: flex;

    flex: 1;
    padding: 0 0.25rem;
  }

  .boxLeft {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    .boxText {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      width: 100%;

      & > * {
        display: flex;
        flex: 1;
      }

      .title {
        justify-content: end;
        font-weight: 600;
      }

      .value {
        justify-content: start;
      }
    }
  }
}
