#formDetailsTodoPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;

  .containerInputs {
    display: grid;
    gap: 1.5rem;
    width: 100%;
    align-items: flex-end;
    grid-template-columns: 1fr;

    .boxInputcalendar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      width: 100%;

      #calendar {
        height: 1.8rem;
        width: 1.8rem;
        outline: none;
        cursor: pointer;
      }

      #calendar:focus {
        outline: 2px solid #00eeff;
        outline-offset: 2px;
      }
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .boxButtons {
    display: flex;
    align-items: flex-end;
    height: 100%;
  }
}
