#formDetailsTodoPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;

  .containerInputs {
    display: grid;
    gap: 1.5rem;
    width: 100%;
    align-items: flex-end;
    grid-template-columns: 1fr;

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .boxButtons {
    display: flex;
    align-items: flex-end;
    height: 100%;
  }
}
