.rootContainerLayout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  position: relative;

  overflow: scroll;
  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox
  padding: 2rem 0;
  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}
