.rootFilterTableTodo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
  gap: 1rem;
  width: 100%;
  place-items: center;

  .boxInputcompleted {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

    #completed {
      height: 1.8rem;
      width: 1.8rem;
      outline: none;
      cursor: pointer;
    }

    #completed:focus {
      outline: 2px solid #00eeff;
      outline-offset: 2px;
    }
  }
}
