.boxInput{flex-direction:column;justify-content:center;align-items:flex-start;height:100%;display:flex}.boxInput input,.boxInput select{width:300px}.boxInput .boxErrorMessage{min-height:19px}.btnStyles{border-radius:.5rem}
