body {
  button {
    cursor: pointer;

    &:active {
      opacity: 0.4;
    }

    &:hover {
      transform: translateY(-1.5px);
    }
  }

  button:active {
    scale: 0.98;
    opacity: 0.5;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }

  .button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-btn);
    color: white;
    text-decoration: none;
    border-radius: 4px;

    &:hover {
      filter: brightness(1.1);
    }

    &:focus {
      outline: 2px solid var(--color-bluefocus);
    }
  }
}
