:host,
:root {
  // WEB appling colors

  //
  --color-link: #553eb6;
  --color-error: #d32f2f;
  --opacified-error: rgb(211, 47, 47, 0.2);
  --color-correct: rgb(0, 106, 0);
  --color-shadow-gold: rgb(212, 175, 55, 0.75);
  --color-evidenced: rgb(63, 189, 235);
  --color-dark-evidenced: rgb(0, 140, 255);
  --color-hover: rgba(255, 255, 255, 0.15);
  --color-border: gray;
  --color-text-btn: #ffffff;
  --color-dangerous: #f01919;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
#root,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  letter-spacing: 0.5px;
  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}

body {
  // font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji",
  //   sans-serif, Arial, Helvetica, sans-serif !important;

  font-family: Arial, Helvetica, sans-serif !important;
}
